body {
  background-image: url(zz.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 1950px 1000px;
  opacity: 0, 2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #204723;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: sticky;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

ul {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}