body {
    background-image: url(mds.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1900px 1000px;
    background opacity: 0.2; 
  }

 